*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
.title{
    text-align: center;
    color: darksalmon;
}
/*-----Navigation-----*/
.navBar{
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: space-between;
    justify-items:space-evenly;
}
.nav_link{
    color: firebrick;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
}
.nav_link:hover{
    color:black;
    background-color: bisque;
    font-weight: 900;
}
/*-----Kali Uchis-----*/
.img_container{
    margin: 0.5em ;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    width: 60%;
    box-shadow:2px 2px 5px green ;
}
.vinyl_container_card{
    position: relative;
    width: 26.6%;
    height: 25%;
    float:right; 
    box-shadow: 0 4px 8px 0 orange;
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 10px;
    margin-right: 2em;
   background-color: #fefeff;
}
.vinyl_container_card img{
    transition: all 5s;
    box-sizing: border-box;
    max-width: 100%;
}
.vinyl_container_card:hover img{
    animation: 5s infinite linear;
    transform: scale(1.2) rotate(360deg)
}
.vinyl_container_card:hover{
    box-shadow: 0 8px 16px green;
    transform: scale(0.95);
    background-color:rgba(255, 217, 0, 0.566);
    text-align: center;
}
.vinyl_container_card:hover h2 b{
    background-color:rgba(135, 207, 235, 0.311);
    border-radius: 5px;
    font-weight: 900 bolder;
    font-size:larger;
    color:red;
}
h2 b{
    text-align: center;
    color:burlywood;
    font-weight: 1000 bolder;
    font-size: larger;
}
.music_links{
    position: relative;
    top: 2%;
    left: 2%;
    right: 2%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    justify-items:space-evenly;
}
div#lH1{
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    font-size: 15px;
    top:34%;
    right: 45%;
    color: darkolivegreen;
    text-align:center; 
    opacity: 0.01;
}
audio#aH1{
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: 2;
    opacity: 0.01;
}
.music_links a{
    background-color: beige;
    color: black;
    padding: 5px 5px;
    text-decoration:none;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.music_links:hover a{
    background-color: darksalmon;
    color: maroon;
}
.pg1{
    position: relative;
    text-align: center;
    background-color:rgba(189, 183, 107, 0.662);
    color: darkorchid;
    border-radius: 10px;
    font-size:larger bold;
    font-weight: 900;
    text-decoration: none;
    font-style: serif;
}
/*-----Childish Gambino-----*/
.img_container2{
    margin: 0.5em ;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    width: 60%;
    box-shadow: 2px 2px 5px blue;
}
.vinyl_container_card2{
    width: 27.9%;
    height: 22%;
    margin-left: 60%;
    float:right;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 10px;
    margin: 1em; 
    position: relative;
}
.vinyl_container_card2 img{
    transition: all 5s;
    box-sizing: border-box;
    max-width: 100%;
}
.vinyl_container_card2:hover img{
    animation: 5s infinite linear;
    transform: scale(1.0) rotate(360deg)
}
.vinyl_container_card2:hover{
    background-color:silver;
    text-align: center;
    box-shadow: 0 8px 16px blue;
    transform: scale(0.95);
}
.vinyl_container_card2:hover h2 b{
    background-color:rgba(135, 207, 235, 0.311);
    border-radius: 5px;
    font-weight: 900 bolder;
    font-size:larger;
    color: cornflowerblue;
}
div#lH2{
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    font-size: 15px;
    top:34%;
    left: 45.2%;
    color: chartreuse;
    text-align:center;
    opacity: 0.01;
}
audio#aH2{
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: 2;
    opacity: 0.01;
}
.pg2{
    position: relative;
    text-align: center;
    background-color:rgba(100, 148, 237, 0.691);
    color:gold;
    border-radius: 10px;
    font-size:larger bold;
    font-weight: 900;
    text-decoration: none;
    font-style: serif;
}
/*-----Nicki Minaj-----*/
.img_container3{
    margin: 0.5em ;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    width: 60%;
    box-shadow: 2px 2px 5px pink;
}
.vinyl_container_card3{
    width: 29%;
    height: 29%;
    float:right; 
    box-shadow: 0 4px 8px 0 pink;
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 10px;
    margin: 1em;
    position: relative;
}
.vinyl_container_card3 img{
    transition: all 5s;
    box-sizing: border-box;
    max-width: 100%;
}
.vinyl_container_card3:hover img{
    animation: 5s infinite linear;
    transform: scale(1.0) rotate(360deg)
}
.vinyl_container_card3:hover{
    background-color:palegoldenrod;
    text-align: center;
    box-shadow: 0 8px 16px plum;
    transform: scale(0.95);
}
.vinyl_container_card3:hover h2 b{
    background-color:pink;
    border-radius: 5px;
    font-weight: 900 bolder;
    font-size:larger;
    color:fuchsia;
}
div#lH3{
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    font-size: 15px;
    top:36.5%;
    right: 46%;
    color: darkred;
    text-align:center; 
    opacity: 0.01;
}
audio#aH3{
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: 2;
    opacity: 0.01;
}
.pg3{
    position: relative;
    text-align: center;
    background-color:rgba(255, 20, 145, 0.568);
    color: darkorchid;
    border-radius: 10px;
    font-size:larger bold;
    font-weight: 900;
    text-decoration: none;
    font-style: serif;
}
/*-----BTS-----*/
.img_container4{
    margin-top: 2em;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    width: 63%;
    height: 50%;
    box-shadow: 2px 2px 5px purple;
}
.vinyl_container_card4{
    width: 30.5%;
    height: 22.5%;
    float:right; 
    box-shadow: 0 4px 8px 0 purple;
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 10px;
    margin-bottom: 1em;
    position: relative;
}
.vinyl_container_card4 img{
    border-radius: 10px;
    transition: all 5s;
    box-sizing: border-box;
    max-width: 100%;
}
.vinyl_container_card4:hover img{
    animation: 5s infinite linear;
    transform: scale(1.0) rotate(360deg)
}
.vinyl_container_card4:hover{
    background-color:silver;
    text-align: center;
    box-shadow: 0 8px 16px palevioletred;
    transform: scale(0.95);
}
.vinyl_container_card4:hover h2 b{
    background-color:cadetblue;
    border-radius: 5px;
    font-weight: 900 bolder;
    font-size:larger;
    color:purple;
}
div#lH4{
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    font-size: 15px;
    top:37%;
    right: 47%;
    color: fuchsia;
    text-align:center;
    opacity: 0.01;
}
audio#aH4{
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: 2;
    opacity: 0.01;
}
.pg4{
    position: relative;
    text-align: center;
    background-color:rgba(255, 127, 80, 0.625);
    color: darkorchid;
    border-radius: 10px;
    font-size:larger bold;
    font-weight: 900;
    text-decoration: none;
    font-style: serif;
}
/*-----UHHH-----*/
.Container{
   display: flex;
   flex-wrap: wrap;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
/*-----Footer-----*/
footer{
    background-color:darkolivegreen;
    width: 100%;
    height:100px ;
    margin-top: 10%;
    padding-bottom: 15%;
    padding-top: 0%;
}
.credits{
    width: 100%;
}
.credits_container{
    max-width: 1170px;
	margin-right:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 20px;
    
}
.footer-col h4{
    font-size: 18px;
	color: #fefeff;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 900 bold;
	position: relative;
    font-style: bolder;
    font-family: sans-serif;
}
.footer-col h4::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: red;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
    margin-right: 100px;
}
.footer-col ul li a{
    font-size: 16px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight: 900;
	color: #080000;
	display: block;
	transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: darksalmon;
	padding-left: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:bolder;
}
.footer-col .artist_socials a{
    display: inline-block;
	height: 40px;
	width:40px;
    text-align: center;
	background-color: rgba(11, 220, 11, 0.2);
	margin:0 9px 9px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #080101;
	transition: all 0.5s ease;
}
.footer-col .artist_socials a:hover{
    color:chartreuse;
    background-color: rgba(255, 140, 0, 0.573);
}
